.popular-articles h3,
.categories h3,
.submit-article h3,
.submit-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #f2f2f2;
  border-right: 5px solid #9b59b6;
  padding-right: 10px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.articles article {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(155, 89, 182, 0.3);
}
