@media (max-width: 768px) {
    .nav ul {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .search-form {
      flex-direction: column;
    }
  
    .search-form input,
    .search-form button {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    .articles {
      grid-template-columns: 1fr;
    }
  
    .submit-form {
      width: 100%;
    }
  }